{% extends 'themes/govbrds/pages/base.html' %}
{% load aratinga_tags i18n static wagtailcore_tags wagtailimages_tags wagtailsettings_tags wagtailuserbar %}


{% wagtailuserbar %}

{% block navbar %}{% endblock %}

<div id="content">
  {% block content %}
  {% block messages %}
  {% if messages %}
  <div class="container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags}}" role="alert">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% endblock %}
  {% block content_pre_body %}{% endblock %}

  {% block content_body %}
  {% for block in page.body %}
  {% include_block block with settings=settings %}
  {% endfor %}
  {% endblock %}

  {% block content_post_body %}{% endblock %}

  {% block header %}
  <div class="container">
    {% include "aratinga/fragments/header.html" with formclass="d-flex" formid="filter" %}
  </div>
  {% endblock %}
  



  {% block index_filters %}
  <div class="container">
    {% if page.index_show_subpages and page.index_classifiers.exists %}
    {% include "aratinga/includes/classifier_dropdowns.html" with formclass="d-flex" formid="filter" %}
    {% endif %}
  </div>
  {% endblock %}

  {% block index_content %}
  {% if page.index_show_subpages %}
  <div class="container">
    <div class="row">
      {% for child in index_paginated %}
      <div class="col-sm-6 col-lg-4">
        {% include child.miniview_template with page=child %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% include "aratinga/includes/pagination.html" with items=index_paginated %}
  {% endif %}
  {% endblock %}

  {% block related_content %}
  {% if page.related_show %}
  <div class="container">
    <h2 class="text-center my-5">{% trans "Related" %}</h2>
    <div class="row">
      {% for rp in related_pages %}
      <div class="col-sm-6 col-lg-4">
        {% include rp.miniview_template with page=rp %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endblock %}

  {% endblock %}
</div>