:root {
    --w-color-primary: #1f5e23;
    --w-color-primary-200: hsl(124, 51%, 16%);
    --w-color-secondary-hue: 180.5;
    --w-color-secondary-saturation: 100%;
    --w-color-secondary-lightness: 24.7%;
}
